@import url("https://cdn.syncfusion.com/ej2/material.css");
@import 'fonts.css';

/* White: 55% Grey: 30% Blue: 10% Orange: 5% */
/* White: #ffffff Grey: #6c6f70 Blue: #3a4c84 Orange: eb761c */

*, *::before, *::after {
  font-family: Univers, sans-serif;
}

article {
  background-color: #ffffff;
  color: #37373b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  height: auto;
}

.border-box-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 12%);
  min-width: 30%;
  height: auto;
  padding: 10px;
  width: auto;
  flex-basis: 50%;
  flex-shrink: 1;
  border: 1px;
  border-color: #ffffff;
  border-radius: 25px;
}

.flex-container {
  display: flex;
}

h1 {
  align-self: center;
  font-family: "univers-condensed";
  text-transform: uppercase;
  font-size: 35px;
  color: #3a4c84;
  text-align: center;
}

img.resize {
  align-self: left;
  align-items: left;
  cursor: pointer;
  width: 100px;
  height: auto;
  padding: 10px 0 10px 10px;
}

p {
  font-size: 12px;
  padding: 1px;
  margin: 0;
}
